<div class="row">
  <div class="col-xs-12 col-sm-12">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="new">New</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="todo">Todo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="done">Done</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="deleted">Deleted</a>
      </li>
    </ul>
    <hr>
  </div>
</div>
